<head>
  <meta charset="utf-8">
  <title>Pregnancy Plate</title>
  <meta name="viewport" content="initial-scale=1, minimal-ui, maximum-scale=1, minimum-scale=1" />
  <meta name="application-name" content="Pregnancy Plate"/>
  <meta name="google-site-verification" content="pZK1o-TE1Qfn0zT5VAE3G-qX0lufWYtP47BGhkLh6zk" />
  <meta name="Description" CONTENT="Pregnancy Plate provides weekly meal plans customized to your week in pregnancy to save you time and reduce stress.  We take the guesswork out of what you can eat and what you cannot eat during pregnancy so you can focus on cooking healthy, delicious meals for you and your baby.  Nutrition and variety are incredibly important for your growing baby's development, long-term health and your overall well-being during pregnancy.  The skills and habits you develop while using Pregnancy Plate during your pregnancy will help you feel good about yourself, help develop a strong baby, and will lay an amazing foundation for continued healthy eating after baby comes.">
  <link rel="icon" type="image/png" href="/icons/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/icons/favicon-16x16.png" sizes="16x16" />
</head>

<body>
  <div id="app"></div>
</body>
