.all-recipes {
  width: 100%;
  min-height: 100vh;
  background-color: #ffe5e7;
  padding-bottom: 64px;
}

.recipe-group {
  width: 95%;
  margin: 36px auto;
  padding: 36px;
  max-width: 1400px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 21px;
  position: relative;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  grid-gap: 50px;
  padding-top: 50px;
  justify-content: center;
  justify-items: center;
}

.browse-all-bar {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fa7576;
  font-weight: 600;
  background-color: #fdd1d7;
}

.recipe-group-title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fbb1b1;
  color: white;
  width: 150px;
  height: 21px;
  font-weight: 600;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-recipes .full-recipe {
  width: 800px;
  margin: 48px auto;
  max-width: 100%;
}

.all-recipes .recipe-swappable {
  cursor: pointer;
}

.back-bar {
  cursor: pointer;
}

#popup-mount {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  justify-content: center;
  height: 100%;
  background-color: rgba(103, 103, 103, 0.51);
}

.shopping-list {
  width: 600px;
  height: 500px;
  margin-top: 150px;
  background-color: white;
  border: 3px solid black;
  border-radius: 21px;
  padding: 24px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  .close-tab {
    top: 6px;
    right: 6px;
    border: none;
  }
}

.shopping-list-items {
  overflow: scroll;
  height: 410px;
  padding-right: 24px;
}

.print-list {
  position: absolute;
  top: 6px;
  right: 36px;
  width: 15px;
  stroke: black;
  background-color: white;
  border-radius: 50%;
  padding: 0 4px;
  stroke-width: 2px;
  cursor: pointer;
  z-index: 4;
}

.action-shopping {
  top: unset;
  right: unset;
  position: fixed;
  height: 100px;
  display: grid;
  width: 550px;
  z-index: 32;
  svg {
    background-color: transparent;
  }
}

.shopping-list-header {
  height: 42px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-box {
  height: 39px;
  display: flex;
  align-items: center;
  font-size: 16px;
  position: relative;
}
.item-box span:first-of-type {
  text-transform: capitalize;
  margin-left: 12px;
  margin-right: 12px;
  flex: 1;
  font-weight: 600;
}

.styled-checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it
  z-index: 32;
  cursor: pointer;
  width: 20px;
  height: 20px;
  top: 50%;
  transform: translateY(-50%);

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  // Box.
  & + label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: gainsboro;
  }

  // Box hover
  &:hover + label:before {
    background: #424242;
  }

  // Box focus
  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  // Box checked
  &:checked + label:before {
    background: #424242;
  }

  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
      4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
  }
}
