.dashboard-splash {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
  min-height: 300px;
  background-size: cover;
  background-position: top center;
}

.dashboard-main {
  display: flex;
  flex-direction: column;
  margin-top: 66px;
}

.week-buttons {
  position: relative;
  top: 18px;
  display: flex;
  justify-content: space-between;
}

.week-button {
  color: white;
  font-size: 14px;
  background-color: #252525;
  cursor: pointer;
  padding: 4px 16px;
  border-radius: 16px;
  font-weight: 600;
  z-index: 1;
}

.week-greeting {
  text-align: center;
}

.week-greeting h1 {
  font-size: 64px;
  margin-bottom: 16px;
}

.week-greeting h3 {
  font-size: 26px;
  font-weight: 400;
}

.week-nutrient {
  display: flex;
}

.week-nutrient-left-pane {
  background-color: black;
  flex-basis: 45%;
  color: white;
  box-sizing: border-box;
  padding: 36px 3em;
}

.week-nutrient-right-pane {
  flex-basis: 55%;
  padding: 3em;
  box-sizing: border-box;
  line-height: 2;
}

.nutrient-of-week {
  font-size: 42px;
  line-height: 1.2;
}

.nutrient-image {
  width: 240px;
  margin: 36px auto 0;
  display: block;
}

.weekly-dinners {
  background-color: #e6e6e6;
  padding: 4em 0;
  transform: all ease 300ms;
  position: relative;
}

.weekly-dinners-spin {
  min-height: 380px;
  .uil-ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.weekly-dinners h2 {
  color: black;
  font-size: 32px;
  text-align: center;
  letter-spacing: 1px;
}

.dinner-row {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.calendar-rec {
  display: flex;
  flex-direction: column;
}

.recipe-block {
  width: 200px;
  text-align: center;
  position: relative;
}

.undo-swap {
  position: absolute;
  top: -10px;
  right: -13px;
  width: 15px;
  stroke: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  padding: 0 4px;
  stroke-width: 4px;
  cursor: pointer;
  z-index: 4;
}

.calendar-top {
  background-color: #bdbdbd;
  color: black;
  height: 30px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  position: relative;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
}

.calendar-hole {
  position: absolute;
  left: 24px;
  width: 14px;
  height: 14px;
  background-color: black;
  border-radius: 50%;
}

.calendar-hole-right {
  right: 24px;
  left: unset;
}

.calendar-bottom {
  width: 200px;
  height: 170px;
  background-color: black;
  border-bottom-left-radius: 21px;
  border-bottom-right-radius: 21px;
  cursor: pointer;
  background-size: cover;
}

.calendar-day {
  text-transform: capitalize;
}

.recipe-primary-info {
  margin-top: 15px;
}

.recipe-title {
  display: block;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 3px;
}

.recipe-subtitle {
  font-size: 13px;
}

.recipe-rating {
  margin: 10px 0;
  font-size: 21px;
  font-weight: 600;
  unicode-bidi: bidi-override;
  direction: rtl;
}

.recipe-rating > span {
  padding: 0 2px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 1.1em;
}

@media (hover: hover) {
  .recipe-rating > span:hover:before,
  .recipe-rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
  }
}

.give-star:before {
  content: "\2605";
  position: absolute;
}

.made-this {
  border: 2px solid black;
  border-radius: 12px;
  font-size: 13px;
  font-weight: 600;
  padding: 2px 12px;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: background-color 300ms ease;
  outline: none;
}

.swaps-and-tips {
  height: 350px;
  display: flex;
}

.recommended-swaps {
  flex-basis: 55%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.weekly-tips {
  flex-basis: 45%;
  background-color: #e6e6e6;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rec-header {
  position: relative;
  top: 12px;
  color: white;
  background-color: black;
  font-weight: 600;
  padding: 6px 18px;
  border-radius: 21px;
}

.swaps-row {
  display: flex;
  justify-content: space-between;
  padding: 0 3em;
}

.recipe-swappable {
  text-align: center;
  max-width: 150px;
  position: relative;
  flex: 1;
}

.rs-circle {
  border: 1px solid black;
  width: 90px;
  height: 90px;
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rs-circle {
  background-color: #e6e6e6;
}

.res-inner-circle {
  width: 75px;
  height: 75px;
  background-color: white;
  border-radius: 50%;
  background-size: cover;
}

.swap-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  stroke: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  padding: 0 4px;
  stroke-width: 4px;
  cursor: pointer;
}

.rs-details {
  margin-top: 6px;
}

.rs-details-title {
  font-size: 12px;
  display: block;
  font-weight: 600;
  margin-bottom: 2px;
}

.rs-details-subtitle {
  font-size: 12px;
}

.browse-recipes-button {
  width: 100%;
  text-align: center;
  background-color: #e6e6e6;
  color: black;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 0;
  visibility: hidden;
  pointer-events: none;
}

.tip-menu {
  position: absolute;
  top: 0;
  width: 100%;
}

.wtm-option {
  font-size: 16px;
  font-weight: 600;
  flex: 1;
  text-align: center;
  padding: 5px 0;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 25%;
  display: inline-block;
  box-sizing: border-box;
  border-right: 3px solid black;
  cursor: pointer;
  &:first-of-type {
    border-left: 3px solid black;
  }
}

.active-option {
  background-color: black;
  color: white;
}

.big-rs-circle {
  width: 110px;
  height: 110px;
}

.big-res-inner {
  width: 90px;
  height: 90px;
}

.tip-big-text {
  margin-top: 24px;
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 17px;
  line-height: 1.5;
  max-height: 90%;
  max-width: 90%;
  margin: 0 auto;
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
}

.horizontal-tip {
  display: flex;
  align-items: center;
}

.close-tab {
  position: absolute;
  top: -10px;
  right: -13px;
  width: 15px;
  stroke: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  padding: 0 4px;
  stroke-width: 4px;
  cursor: pointer;
  z-index: 4;
}

.tip-small-text {
  width: 90%;
  margin-top: 24px;
  display: block;
  font-weight: 600;
  font-size: 17px;
  line-height: 1.5;
  overflow: hidden;
  max-height: 90%;
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
}

.horizontal-tip .rs-circle {
  margin-right: 24px;
}

.big-week-selector {
  position: fixed;
  top: 66px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
}

.big-week-selector .week-button {
  position: absolute;
  top: 18px;
  left: 50%;
  display: block;
  transform: translateX(-50%);
}

.trimester-label {
  position: absolute;
  top: 7vh;
  left: 50%;
  display: block;
  transform: translateX(-50%);
  color: white;
  font-size: 28px;
  background-color: #252525;
  cursor: pointer;
  padding: 4px 16px;
  border-radius: 16px;
  font-weight: 600;
  z-index: 1;
}

.trimester-tiles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  display: grid;
  grid-template-columns: 173px 173px 173px;
  grid-template-rows: 20vh 20vh 20vh;
  grid-gap: 25px;
  min-height: 500px;
  z-index: 1;
  justify-content: center;
  .calendar-rec {
    cursor: pointer;
  }
}

.trimester-tiles .calendar-top {
  height: 34px;
  width: 100%;
}

.trimester-tiles .calendar-rec {
  flex-basis: 30%;
}

.trimester-tiles .calendar-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-number {
  color: white;
  font-size: 94px;
  font-weight: 600;
  user-select: none;
}

.trimester-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 42px;
  height: 42px;
  stroke-width: 3;
  border: 5px solid black;
  border-radius: 50%;
  stroke: black;
  cursor: pointer;
  padding: 3px;
}

.right-arrow {
  right: -126px;
}

.left-arrow {
  left: -126px;
}

.background-blur {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  filter: blur(7px);
  background-color: white;
  opacity: 0.3;
}

.screen-arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 36px;
  height: 36px;
  stroke-width: 3;
  border-radius: 50%;
  stroke: black;
  cursor: pointer;
}

.up-arrow {
  top: -40px;
}

.down-arrow {
  bottom: -60px;
}

.week-group {
  position: absolute;
  top: 0;
}

.big-dinner-row {
  display: flex;
}

.small-row {
  flex: 3;
  flex-wrap: wrap;
  padding: 0 24px;
}

.full-recipe {
  flex: 5;
  margin-top: 48px;
  position: relative;
}

.full-recipe-menu {
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  display: flex;
  width: 100%;
}

.full-recipe-menu .calendar-top {
  width: 200px;
  text-transform: capitalize;
  z-index: 2;
  cursor: pointer;
}

.notes-menu-tab {
  background-color: #eeeeee;
  color: black;
  height: 30px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  position: relative;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  width: 200px;
  left: -50px;
  cursor: pointer;
}

.recipe-header {
  display: flex;
}

.recipe-image {
  width: 200px;
  height: 200px;
  background-color: black;
  cursor: pointer;
  background-size: cover;
}

.recipe-detail-box {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 24px;
  box-sizing: border-box;
  align-items: flex-start;
  position: relative;
  background-color: white;
}

.full-recipe-title {
  font-size: 19px;
  width: 80%;
  font-weight: 600;
  line-height: 1.3;
}

.share-button {
  border-radius: 12px;
  font-size: 13px;
  font-weight: 600;
  padding: 2px 24px;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: background-color 300ms ease;
  position: absolute;
  right: 24px;
  bottom: 24px;
  border: none;
  color: white;
  background-color: #698aff;
}

.recipe-body {
  width: 100%;
  height: 550px;
  background-color: white;
  border-bottom-left-radius: 21px;
  border-bottom-right-radius: 21px;
  padding: 24px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  overflow-y: scroll;
}

.recipe-ingredients {
  flex-basis: 45%;
}

.directions-list {
  flex-basis: 45%;
}

.recipe-body-title {
  font-size: 19px;
  margin-bottom: 12px;
}

.ingredients-list {
  padding-left: 24px;
}

.ingredients-group {
  margin-top: 8px;
  display: flex;
}

.ingredients-group span:first-of-type {
  font-weight: 600;
  min-width: 100px;
  display: inline-block;
}

.ingredients-separator {
  margin-top: 24px;
}

.directions-content {
  margin-bottom: 24px;
  h1,
  h2,
  h3 {
    padding-left: 48px;
    padding-bottom: 6px;
    display: inline-block;
    font-size: 14px;
  }
  p {
    padding-left: 24px;
    padding-bottom: 6px;
    font-size: 14px;
    line-height: 1.3;
    display: block;
  }
  ol {
    list-style-type: decimal;
  }
}

.small-row .recipe-block {
  margin-bottom: 24px;
}

.notes {
  width: 100%;
  height: 450px;
  background-color: white;
  border-bottom-left-radius: 21px;
  border-bottom-right-radius: 21px;
  padding: 24px;
  box-sizing: border-box;
  overflow-y: scroll;
}

.notes-box {
  width: 100%;
  height: 90%;
  border-radius: 21px;
  border: 3px solid black;
  box-sizing: border-box;
  background-image: -webkit-linear-gradient(
    top,
    transparent,
    transparent 49px,
    #e7eff8 0
  );
  background-size: 100% 50px;
  font-size: 22px;
  line-height: 49px;
  padding: 11px 20px 0 32px;
  outline: none;
}

.swapper {
  position: absolute;
  z-index: 4;
  left: 0;
  top: -10%;
  width: 100%;
  background-color: white;
  height: 120%;
  box-shadow: 0px 1px 12px 0px black;
  border-radius: 21px;
  display: flex;
  flex-direction: column;
}

.swapper-header {
  height: 30px;
  background-color: #e6e6e6;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  font-size: 12px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.close-swapper {
  position: absolute;
  top: 6px;
  right: 10px;
  padding: 0px;
  border: 2px solid black;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  stroke-width: 3;
  stroke: black;
  cursor: pointer;
  background-color: white;
}

.swapper-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px 0;
}

.swap-day {
  font-size: 12px;
  border: 2px solid black;
  width: 70%;
  margin: 0 auto;
  border-radius: 12px;
  padding: 2px;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media print {
  body * {
    visibility: hidden;
  }
  .full-recipe * {
    visibility: visible;
  }
  .full-recipe {
    position: absolute;
    top: 40px;
    left: 30px;
  }
  .shopping-list * {
    visibility: visible;
  }
  .shopping-list {
    position: fixed;
    top: 0px;
    left: 0px;
    height: auto !important;
    margin-top: 0;
  }
  .dashboard-main,
  .main-header,
  .swaps-and-tips,
  .footer,
  svg,
  .notes-menu-tab {
    display: none;
  }
  .recipe-body {
    height: auto;
  }
  .noprint {
    display: none !important;
  }
}
