.sign-in-page,
.payment-page {
  width: 100%;
  display: flex;
  min-height: 100vh;
  margin-top: 50px;
}

.sign-in-left-pane,
.payment-left-pane {
  flex: 1;
  background-color: #f7f7f7;
}

.sign-in-right-pane,
.payment-right-pane {
  flex: 2;
}

.sign-up-container,
.payment-container {
  width: 75%;
  max-width: 450px;
  padding: 64px 0;
  margin: 0 auto;
  position: relative;
}

h3 {
  font-size: 24px;
  font-weight: 600;
}

.sign-up-container h3 {
  text-align: center;
  padding-bottom: 24px;
}

.social-separator {
  height: 3px;
  width: 100%;
  background-color: #f7f4f1;
  position: relative;
}

.sign-up-gift .social-separator {
  margin: 12px 0;
}

.social-sign-up-section {
  padding: 12px 0;
}

.sign-up-social {
  display: block;
  width: 300px;
  margin: 12px auto;
  border: none;
  border-radius: 22px;
  color: white;
  font-size: 14px;
  padding: 8px;
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
  max-width: 100%;
}

.sign-up-google {
  background-color: #ff5356;
  &:hover {
    background-color: darken(#ff5356, 15%);
  }
}

.sign-up-facebook {
  background-color: #6788fb;
  &:hover {
    background-color: darken(#6788fb, 15%);
  }
}

.social-separator span {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: #d2d0ce;
  padding: 0 12px;
}

.as-a-gift {
  margin-top: 24px;
}

.sign-up-fields {
  padding-bottom: 24px;
}

.sign-up-form-group {
  padding: 12px 0;
}

.sign-up-form-group label {
  display: block;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 9px;
  max-width: 100%;
}

.sign-up-form-group input {
  width: 100%;
  border: 2px solid #f7f4f1;
  padding: 10px 10px;
  box-sizing: border-box;
  border-radius: 16px;
  outline: none;
  font-size: 18px;
  max-width: 100%;
}

.sign-up-preg-info {
  padding: 24px 0;
}

.sign-up-question {
  font-weight: 600;
  padding-bottom: 12px;
}

.sign-up-section {
  padding: 6rem;

  h2 {
    padding: 1rem 0;
    font-size: 1.9rem;
    text-align: center;
  }
}

.home-page .sign-up-section .features-sep:nth-child(2) {
  margin: 3rem auto 5rem !important;
}

.home-page .sign-up-section .features-sep:nth-child(4) {
  margin: 5rem auto 3rem !important;
}

.sign-up-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-gap: 10px;
  margin-bottom: 1.5rem;
}

.sign-up-card-container .hidden {
  display: none;
}

.home-page .sign-up-card-container {
  grid-template-columns: repeat(4, 1fr); 
}

.sign-up-membership-card {
  border: 2px solid #586368;
  border-radius: 15px;
  text-align: center;
  padding: 1rem 1rem;
  background-color: #f7f7f7;
  color: #1f5ea6;
  transition: background-color 250ms;

  > .ft {
    font-size: 2.8rem !important;
    line-height: 1.2;
  }

  .card-title {
    font-weight: 600;
    font-size: 1.4rem;
  }

  .card-price {
    font-size: 3rem;
    margin: .7rem auto .8rem;
  }

  .card-frequency {
    font-size: .9rem;
  }

  &:hover {
    background-color: #1f5ea6;
    // border-color: #f95451;
    color: #fff;
  }
  &:active {
    background-color: #1f5ea6;
    color: #fff;
  }
}

.extra-details {
  margin-top: 2rem;
  color: #586368;
  opacity: .75;
  text-align: center;
}

a.sign-up-membership-card.selected {
    background-color: #1f5ea6;
    color: #fff;
}

.change-plan-buttons {
  text-align: center;
  margin: 1rem auto;
}

p.additional-plan-details {
    text-align: center;
    margin: 1rem;
    font-size: 1.5rem;
}

.flatpickr-input {
  border: 2px solid #f7f4f1;
  padding: 6px 12px;
  box-sizing: border-box;
  border-radius: 16px;
  outline: none;
  font-size: 18px;
  margin-bottom: 18px;
}

.sign-in-page input[type="radio"],
.sign-in-page input[type="checkbox"] {
  margin-right: 8px;
  position: relative;
  top: -1px;
}

.end-signup {
  padding-top: 32px;
}

.continueButton {
  background-color: #f95451;
  width: 100%;
  margin-top: 20px;
  color: white;
  padding: 12px 0;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  &:hover {
    background-color: darken(#f95451, 15%);
  }
}

.coupon-group {
  margin-top: 12px;
}

.coupon-group input {
  padding: 8px 24px;
}

.radio-text {
  font-size: 14px;
  color: #6d6d6d;
  a {
    color: #6e8bfe;
  }
}

.end-signup .radio-text {
  font-size: 12px;
}

.due-box {
  margin-bottom: 18px;
  display: inline-block;
}

.sign-up-error {
  position: absolute;
  top: 25px;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  color: #ff4f0b;
}

.splash-header {
  position: relative;
  //background-color: #d1e1fd;
  height: 100vh;
  min-height: 400px;
  text-align: center;
}

.sheader-title {
  font-size: 42px;
  color: #1F5EA6;
  padding-top: 6%;
}

.sheader-subtitle {
  color: #1F5EA6;
  font-size: 18px;
  font-weight: 600;
  margin: 10px;
  line-height: 1.2;
}

.splash-header img {
  height: 60vh;
  border-radius:10%;
}

.sign-up-bar {
  position: absolute;
  bottom: 0;
  height: 50px;
  background-color: #00cf5e;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 36px;
}

.sign-up-bar-mid {
  position: relative;
  bottom: 0;
  height: 60px;
  left: 0;
  right: 0;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 32px;
}

.sign-up-button {
  position: relative;
  bottom: 0;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #FC7805;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 24px;
  border-radius: 8px;
  transition-duration: 0.4s;
}
.sign-up-button:hover {
  background-color: white;
  color: #FC7805;
}

.blue-features-section {
  //height: 100vh;
  min-height: 400px;
  //border: 16px solid #1F5EA6;
  box-sizing: border-box;
  text-align: center;
  padding: 24px 0;
}

.features-header {
  font-size: 34px;
  width: 75%;
  margin: 0 auto;
  color: #1F5EA6;
  line-height: 1.3;
}

.features-sep {
  height: 3px;
  width: 20%;
  margin: 24px auto 0;
  min-width: 100px;
  background-color: #1F5EA6;
}

.blue-feature-group {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  justify-content: center;
  grid-gap: 50px 40px;
  margin-top: 32px;
  justify-content: center;
  //  flex-wrap:wrap;
}

.blue-feature-item img {
  width: 124px;
}

.blue-feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  //width: 350px;
}

.ba,
.ia,
.r1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.bb,
.ib,
.r2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.bc,
.ic,
.r3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.bd,
.id,
.r4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.be,
.ie,
.r5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.bf,
.if,
.r6 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.ha {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.hb {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.hc {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.pa {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.pb {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.pc {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.pd {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.pe {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.pf {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}


.feature-item-header {
  font-size: 16px;
  font-weight: 60;
  color: #586368;
}

.feature-item-desc {
  color: #1F5EA6;
  font-size: 13px;
  margin-top: 12px;
  line-height: 1.4;
}


.red-section {
  //border: 16px solid #ff5356;
  min-height: 400px;
  box-sizing: border-box;
  text-align: center;
}

.big-red {
  color: #028555;
  font-size: 24px;
  width: 80%;
  margin: 60px auto 40px;
}

.red-subheader {
  font-size: 27px;
  width: 75%;
  margin: 0 auto;
  color: #ff5356;
  line-height: 1.3;
  padding-bottom: 172px;
}

.red-top-section {
  padding: 24px 0;
}

.red-feature-items {
  display: grid;
  grid-template-columns: 90px 60%;
  grid-gap: 10px;
  justify-content: center;
}

.red-bullet {
  padding: 5px;
  color: #ff5356;
}

.red-feature-item {
  padding: 5px;
  color: #586368;
  font-size: 18px;
  text-align: left;
}

.red-bullet img {
  width: 60px;
}

.red-feature-item .feature-item-header {
}

.red-feature-item .feature-item-desc {
  font-size: 18px;
}

.red-bottom-section {
  padding: 24px 0;
}

.rbs-small {
  font-size: 22px;
  color: #586368;
  font-weight: 600;
  border-bottom: 2px solid #586368;
  padding-bottom: 6px;
}

.purple-section {
  //border: 16px solid #af79fb;
  min-height: 400px;
  box-sizing: border-box;
  text-align: center;
}
.purple-features-section {
  //box-sizing: border-box;
  text-align: center;
}

.purple-top-section {
  display: flex;
  min-height: 325px;
}

.purple-top-left {
  flex-basis: 50%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.purple-top-big {
  font-size: 80px;
  color: #af79fb;
  font-weight: 600;
  width: 53%;
  text-align: left;
  position: relative;
  left: -3px;
}

.purple-top-smamll {
  color: #af79fb;
  font-size: 14px;
  width: 53%;
  text-align: left;
  line-height: 1.3;
  margin-top: 18px;
}

.purp-top-right {
  flex-basis: 50%;
  background-size: cover;
}

.purple-bottom-section {
  flex: 1;
  background-color: #F7F7F7;
  padding: 36px 0;
}

.purple-feature-header {
  color: #028555;
  font-size: 29px;
  width: 75%;
  margin: 0 auto;
  margin-top: 20px;
  line-height: 1.2;
}

.purple-feature-items {
  display: grid;
  grid-template-columns: 85%;
  grid-gap: 18px 50px;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

.purple-feature-item {
  //border: 3px solid #af79fb;
  background-color: #F7F7F7;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: left;
  box-sizing: border-box;
  padding: 10px;
  color: #af79fb;
  width: 100%;
  justify-content: space-between;
}

.purple-feature-item img {
  width: 124px;
}

.pfi_tr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.purple-feature-item .purple-feature-item-header {
  color: #028555;
  text-align: left;
  vertical-align: middle;
  //border: 1px solid red;
  font-size: 20px;
  font-weight: 600;
}

.purple-feature-item .purple-feature-item-header-plus:before{
  content: '\2795';
  font-size: 20px;
  color: white;
  //border: 1px blue solid;
  align: right;
  vertical-align:middle;
}

.purple-feature-item .activeheader:before {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.purple-feature-item .purple-feature-item-desc {
  color: #586368;
  text-align: left;
  font-size: 13px;
  margin-top: 6px;
  line-height: 1.4;
}

.collapse-content {
    display: none
  }

  .collapse-content.show {
    display: block
  }

.purple-bottom-footer {
  color: #028555;
  font-size: 24px;
  width: 75%;
  margin: 0 auto;
  line-height: 1.2;
}

.how-it-works-options {
  width: 75%;
  margin: 48px auto;
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-gap: 100px;
  justify-content: center;
}

.hiw-option {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hiw-number {
  color: #028555;
  font-size: 42px;
  font-weight: 600;
  background-color: white;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 3px solid #028555;
  margin-bottom: 24px;
}

.hiw-option img {
  height: 141px;
}

.hiw-title {
  color: #028555;
  font-size: 28px;
  font-weight: 600;
  margin-top: 24px;
}

.hiw-desc {
  color: #586368;
  font-size: 14px;
  line-height: 1.3;
  margin-top: 14px;
}

.orange-section {
  border: 1px solid #586368;
  min-height: 400px;
  box-sizing: border-box;
  text-align: center;
  //background-color: #ffd378;
}

.orange-section h2 {
  font-size: 42px;
  padding-top: 64px;
  color: #586368;
  //text-align: left;
}

.included-features {
  display: grid;
  grid-template-columns: 90px 60%;
  grid-gap: 10px;
  justify-content: center;
  margin:20px;
}

.if-group {
  display: flex;
  padding: 5px;
}

.included-feature {
  padding: 5px;
  color: #586368;
  font-size: 18px;
  text-align: left;
}

.included-feature img {
  height: 94px;
}

.if-bullet {
  padding: 5px;
  color: #ff5356;
}

.if-bullet img {
  width: 60px;
}

.if-feature-item {
  padding: 5px;
  color: #ff5356;
  font-size: 18px;
  text-align: left;
}

.if-title {
  font-size: 16px;
  font-weight: 600;
  color: #ff5b45;
}

.if-desc {
  color: #ff5b45;
  font-size: 13px;
  margin-top: 12px;
  line-height: 1.4;
}

.green-section {
  //border: 16px solid #00d065;
  box-sizing: border-box;
  text-align: center;
}

.green-top {
  height: 100vh;
  min-height: 400px;
  display: flex;
}

.green-left {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.green-right {
  flex: 4;
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.b-green-left {
  width: 70%;
  font-size: 48px;
  color: #1F5EA6;
  text-align: left;
}

.s-green-left {
  font-size: 20px;
  color: #1F5EA6;
  width: 70%;
  display: block;
  text-align: left;
  margin-top: 24px;
  line-height: 1.5;
}

.meal-selection-group {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 90%;
  justify-content: space-around;
}

.meal-selection {
  width: 100%;
  background-color: white;
  display: flex;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.meal-select-text {
  flex: 4;
  width: 90%;
  align-items: center;
  padding: 10px 24px;
  box-sizing: border-box;
  display: flex;
  color: #586368;
  font-size: 15px;
  line-height: 1.4;
  text-align: left;
  font-weight: 60;
}

.meal-select-image {
  flex: 4;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.green-bottom {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.green-bottom span {
  color: #028555;
  width: 75%;
  font-size: 28px;
  line-height: 1.4;
  font-weight: 600;
}

.accounts-logo {
  margin-top: 50vh;
  position: relative;
  transform: translateY(-50%);
  position: fixed;
  width: 33vw;
}

.payment-container .social-separator {
  margin: 24px 0;
}

.payment-container h3 {
  text-align: center;
}

.additional-payment-details p {
  padding: 12px 0;
}

.total-cost {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  div {
    display: inline;
  }
}

.stripe-badge {
  display: block;
  margin: 24px auto 6px;
  text-align: center;
}

.secure-checkout {
  text-align: center;
  font-weight: 600;
  color: #586368;
  font-size: 12px;
}

.cross-through {
  text-decoration: line-through;
}

.alternative-links {
  margin-top: 24px;
}

.alternative-link {
  display: block;
  text-align: center;
  margin-bottom: 12px;
}

.alternative-link a {
  color: blue;
}

.footer {
  width: 100%;
  display: flex;
  height: 48px;
  background-color: #464646;
  padding: 0 24px;
  justify-content: space-between;
  align-items: center;
  color: white;
  box-sizing: border-box;
  font-size: 14px;
}

.footer a {
  color: white;
  margin-left: 24px;
  font-weight: 600;
  font-size: 14px;
}

.footer-links {
  line-height: 1.6;
}

.tip-q {
  background-color: black;
  display: inline-flex;
  width: 20px;
  height: 20px;
  color: white;
  border-radius: 50%;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) { 
  .home-page .sign-up-card-container {
    grid-template-columns: repeat(2, 1fr) !important; 
  }
 }


@media (max-width: 576px) { 
  .home-page .sign-up-card-container {
    grid-template-columns: repeat(1, 1fr) !important; 
  }
}



// Large devices (desktops, 992px and up)
@media (min-width: 992px) { }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }