.main-header {
  width: 100%;
  box-shadow: 0px -1px 6px 0px #353535;
  position: fixed;
  top: 0;
  border-top: .4em solid #1F5EA6;
  z-index: 999;
  background-color: white;
}

.main-header .standard-container {
  display: flex;
  justify-content: space-between;
  padding: 18px;
  align-items: center;
}

.left-header-options {
  font-size: 14px;
  font-weight: 600;
}

.left-header-options a {
  margin-right: 14px;
  cursor: pointer;
  color: #586368;

}

.left-header-options a:hover {
  color: #34434B;
}

.left-header-options,
.right-header-options {
  flex: 2;
}

.right-header-options {
  justify-content: flex-end;
}

.header-logo {
  font-size: 18px;
  font-weight: 600;
}

.header-logo a {
  color: #586368;
  //color: black;
}

.header-logo a:hover {
  color: #34434B;
}

.right-header-options {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.menu-separator {
  height: 30px;
  width: 2px;
  background-color: black;
  margin: 0 14px;
}

.right-header-options a {
  //color: black;
  color: #586368;
}

.right-header-options a:hover {
  color: #34434B;
}

.right-logged-out a {
  margin-left: 14px;
}

.mobile-menu {
  display: none;
  position: relative;
  height: 100%;
  a {
    cursor: pointer;
  }
}

.mobile-menu .company-logo {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  font-size: 22px;
  color: black;
  font-weight: 600;
}

.mobile-menu .company-logo img {
  width: 29px;
  height: auto;
}

.mobile-menu .search-header-section {
  justify-content: flex-end;
  height: 100%;
  position: relative;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 18px;
  top: 18px;
  cursor: pointer;
  button {
    cursor: pointer;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
  cursor: pointer;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: white;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding-top: 96px;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.bm-item-list a {
  color: #424242;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  padding: 12px 0;
}
