.account-page {
  margin-top: 108px;
  padding-bottom: 400px;
}

h1 {
  text-align: center;
  font-size: 36px;
}

.account-section {
  margin-top: 48px;
}

h2 {
  font-size: 24px;
}

.account-section h2 {
  padding-bottom: 24px;
}

.account-form {
  width: 400px;
  max-width: 100%;
}

.sign-up-form-group input.membership-box {
  max-width: 25px;
  float: left;
}

.account-section .sign-up-card-container {
  clear: both;
  margin: 2rem auto;
  max-width: 400px;
  float: left;
}
.account-section .cancel-membership-btn:hover {
  cursor: pointer;
}

label[for="changeMembership"] {
  position: relative;
  top: 3px;
  float: left;
}

.error-class {
  color: red;
}

#saved {
  margin-left: 12px;
  font-size: 20px;
  font-weight: 600;
  color: #ee514f;
}

.legal-page {
  min-height: 100vh;
  padding-top: 108px;
  padding-bottom: 64px;
  h2 {
    text-align: center;
    margin-bottom: 24px;
  }
  h3 {
    margin-bottom: 24px;
    margin-top: 24px;
  }
  p {
    margin-bottom: 12px;
  }
  ol, ul {
    list-style: decimal inside;
  }
  li {
    padding-left: 12px;
    margin-bottom: 12px;
  }
}
