@include media('<=desktop') {
  .sheader-title {
    padding-top: 70px;
  }

  .blue-feature-group {
    grid-template-columns: 250px 250px 250px;
  }

  .include-features {
    grid-template-columns: 250px 250px 250px;
  }
  .recipe-block {
    width: 150px;
  }

  .calendar-bottom {
    width: 150px;
    height: 127.5px;
  }

  .swaps-row {
    padding: 0 1em;
  }

  .tip-small-text {
    width: 200px;
    font-size: 16px;
  }
  .recipe-group {
    grid-template-columns: 180px 180px 180px 180px 180px;
    grid-gap: 25px;
  }
}
@include media("<=laptop") {
  .blue-feature-group {
    grid-template-columns: 250px 250px;
  }

  .blue-features-section {
    height: unset;
  }

  .purple-bottom-header {
    width: 90%;
  }

  .purple-feature-items {
    grid-gap: 24px;
  }

  .how-it-works-options {
    grid-template-columns: 150px 150px 150px;
  }

  .include-features {
    grid-template-columns: 250px 250px;
  }

  .green-top {
    flex-direction: column;
    height: unset;
  }

  .meal-selection-group {
    height: unset;
    padding: 36px;
  }

  .meal-selection {
    margin: 24px 0;
  }

  .green-left {
    min-height: 400px;
  }
  .sign-in-left-pane, .payment-left-pane {
    display: none;
  }
  .recipe-block {
    width: 150px;
  }

  .calendar-bottom {
    width: 150px;
    height: 127.5px;
  }

  .swaps-row {
    padding: 5em 1em;
  }

  .tip-small-text {
    width: 200px;
    font-size: 16px;
  }

  .dinner-row {
    flex-wrap: wrap;
  }

  .swaps-and-tips {
    flex-direction: column;
    height: unset;
  }

  .recommended-swaps {
  }

  .tip-content {
    padding: 3em;
  }
  .big-time-dinner .big-dinner-row {
    flex-direction: column;
  }

  .big-time-dinner .small-row {
    padding: 0;
  }

  .full-recipe {
    margin-top: 64px;
  }
  .recipe-group {
    grid-template-columns: 200px 200px 200px;
    grid-gap: 40px;
  }
  .action-shopping {
    position: absolute;
    top: 5px;
    right: 16px;
  }
  .trimester-arrow {
    top: -50px;
    width: 24px;
    height: 24px;
  }
  .right-arrow {
    right: 15px;
  }
  .left-arrow {
    left: 15px;
  }
}
@include media('<=tablet') {
  .purple-feature-items {
    grid-template-columns: 250px 250px;
  }

  .how-it-works-options {
    grid-template-columns: 200px;
  }

  .footer {
    flex-direction: column;
    height: 64px;
    justify-content: space-around;
  }

  .footer a {
    margin: 0 12px;
  }
  .week-nutrient {
    flex-direction: column;
  }

  .week-nutrient-left-pane {
    text-align: center;
  }

  .dinner-row {
    justify-content: space-around;
  }

  .recipe-block {
    margin-bottom: 24px;
  }

  .calendar-day {
    font-size: 14px;
  }

  .calendar-hole {
    width: 12px;
    height: 12px;
    left: 18px;
  }

  .calendar-hole-right {
    right: 18px;
    left: unset;
  }
  .recipe-group {
    grid-template-columns: 200px 200px 200px;
    grid-gap: 20px;
  }
}
@include media('<=landscape') {
  .footer a {
    margin: 0 12px;
  }

  .sheader-title {
    font-size: 48px;
  }

  .sheader-subtitle {
    width: 50%;
    margin: 30px auto 0;
  }

  .splash-header img {
    height: 340px;
  }

  .blue-feature-group {
    grid-template-columns: 150px 150px;
  }

  .purple-top-section {
    flex-direction: column;
  }

  .big-red {
    font-size: 54px;
    margin-bottom: 64px;
  }

  .red-subheader {
    padding-bottom: 64px;
  }

  .how-it-works-options {
    grid-gap: 50px 0;
  }

  .include-features {
    grid-template-columns: 250px;
  }
  .swaps-row {
    display: grid;
    grid-template-columns: 200px 200px;
    justify-items: center;
    grid-gap: 40px 0px;
  }
  .big-time-dinner .big-dinner-row {
    width: 100%;
    overflow-x: hidden;
  }

  .close-tab {
    top: 6px;
    right: 6px;
  }

  .week-button .close-tab {
    right: -30px;
  }

  .recipe-body {
    min-height: 400px;
    height: unset;
    flex-direction: column;
  }

  .small-row {
    overflow-x: scroll;
    flex-wrap: nowrap;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    justify-content: flex-start;
  }
  .trimester-tiles {
    width: 480px;
    grid-template-columns: 138px 138px 138px;
    grid-template-rows: 17vh 17vh 17vh;
  }
  .recipe-group {
    grid-template-columns: 200px 200px;
    grid-gap: 40px;
  }
  .main-header .standard-container {
    display: none;
  }

  .mobile-menu {
    display: flex;
    height: 66px;
  }

  .down-arrow {
    position: relative;
    bottom: 0;
    transform: translateX(-25%);
  }
}

@include media('<=phone') {
  .sheader-title {
    font-size: 36px;
  }

  .sheader-subtitle {
    width: 75%;
  }

  .splash-header img {
    height: 200px;
  }

  .features-header {
    font-size: 24px;
  }

  .blue-feature-group {
    grid-template-columns: 150px;
    grid-gap: 48px 0;
  }

  .purple-feature-items {
    grid-template-columns: 250px;
  }

  .big-red {
    margin-top: 24px;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .red-subheader {
    font-size: 16px;
  }

  .hiw-option img {
    height: 96px;
  }

  .include-features {
    grid-gap: 48px 0;
  }

  .green-left {
    padding: 36px 0;
  }

  .b-green-left {
    width: 80%;
    font-size: 36px;
  }

  .s-green-left {
    width: 80%;
  }

  .meal-selection {
    flex-direction: column-reverse;
    border-radius: unset;
    height: unset;
  }

  .meal-select-text {
    padding: 12px 24px;
  }

  .meal-select-image {
    height: 100px;
    border-radius: unset;
  }

  .green-bottom {
    height: unset;
  }

  .green-bottom span {
    font-size: 24px;
    padding: 24px 0;
    width: 80%;
  }

  .footer {
    height: unset;
  }

  .footer div:last-of-type {
    display: grid;
    grid-template-columns: 100px 100px;
    justify-content: center;
    text-align: center;
    grid-gap: 12px 0px;
    margin: 12px 0;
  }

  .footer span {
    font-size: 12px;
    margin-top: 12px;
    display: inline-block;
  }
  .sign-up-container, .payment-container {
    width: 80%;
  }
  .week-greeting h1 {
    font-size: 48px;
  }

  .swaps-row {
    grid-template-columns: 200px;
  }

  .wtm-option {
    font-size: 12px;
    border-width: 2px;
  }

  .horizontal-tip {
    flex-direction: column;
    text-align: center;
  }

  .horizontal-tip .rs-circle {
    margin: 0;
  }
  .recipe-header {
    flex-direction: column;
  }

  .recipe-image {
    width: 100%;
  }

  .recipe-detail-box {
    width: 100%;
  }

  .notes-menu-tab {
    left: -25px;
  }
  .trimester-tiles {
    top: 350px;
    width: 85%;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 12px;
  }

  .trimester-label {
    font-size: 16px;
    top: 8vh;
  }

  .trimester-tiles .calendar-hole {
    display: none;
  }

  .trimester-tiles .big-number {
    font-size: 58px;
  }
  .week-greeting h3 {
    font-size: 21px;
  }
  .recipe-group {
    grid-template-columns: 150px 150px;
    grid-gap: 20px 0px;
  }
  .purple-top-big {
    font-size: 64px;
  }
  .splash-header {
    //height: 88vh;
  }
  .shopping-list {
    margin-top: 30px;
  }
  .tip-content {
    padding: 2.5em 1em;
  }
  .tip-small-text {
    width: 85%;
  }
}
