body, html, #app {
  margin: 0;
  height: 100%;
}

html {
  overflow: auto;
}

body {
  color: $font-color;
  font-size: 14px;
}

* {
  font-family: $standard-font;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: $standard-font;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input, label, button, h1, h2, h3, h4, h5, h6 {
  font-family: $standard-font;
}

.big-loading {
  height: calc(100vh - 6em);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.standard-container {
  width: calc(100% - 6em);
  margin: 0 auto;
  max-width: 1440px;
  @include media('<=phone') {
    width: 90%;
  }
}

.invisible {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.standard-page {
  margin-top: 66px;
}
